<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">About</h3>
    <label class="btn btn-default pull-right del-btn" ng-click="$ctrl.deleteComponent()"> Delete</label>
  </div>
  <div class="panel-body">
  	<div class="row">
      <div class="col-md-12">
        <h4 class="sub-title">About Text</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="sub-title">Max. 1720 characters</p>
      </div>
    </div>

    <div class="row" ng-repeat="paragraph in $ctrl.data.paragraphs track by $index" ng-class="{'has-error': $ctrl.about_text_char_counts > 1720}">
      <div class="col-xs-11">
        <textarea class="form-control" name="home_components[about][paragraphs][<% $index %>]" ng-model="$ctrl.data.paragraphs[$index]" ng-change="$ctrl.textCounter()" style="height:100px" placeholder="Enter About Text here"></textarea>
      </div>
      <div class="col-xs-1">
        <a href="" class="pull-right" ng-click="$ctrl.deleteParagraph($index)">Delete</a>
      </div>
      <div class="col-xs-12"><br></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <a href="" class="pull-right" ng-click="$ctrl.data.paragraphs.push('')">Add new paragraph</a>
      </div>
    </div>
    <div class="row" ng-if="$ctrl.text_char_counts < 1721">
      <div class="col-md-12">
        <p class="sub-title"><% 1720 - $ctrl.text_char_counts %> characters left</p>
      </div>
    </div>
    <div class="row" ng-if="$ctrl.text_char_counts > 1720">
      <div class="col-md-12">
        <p class="alert-text">Max character length reached</p>
      </div>
    </div>
  </div>
</div>