<div class="panel panel-default">
  <input type="hidden" name="home_components[project_counter_gama][]" value="">
  <div class="panel-heading">
    <h3 class="panel-title">Project Counter</h3>
    <label class="btn btn-default pull-right del-btn" ng-click="$ctrl.deleteComponent()"> Delete</label>
  </div>
  <div class="panel-body">
    <div id="wrapper-project-counter-region" class="container-fluid">
      <div class="row">
        <div class="title">
          <h4>Current Issues
            <br>
              96
          </h4>
        </div>
        <div class="region-stats">
          <div class="region"><p>37</p><p>Open Defecation</p></div>
          <div class="region"><p>27</p><p>Public Toilet Facilities</p></div>
          <div class="region"><p>10</p><p>Public Water Services</p></div>
          <div class="region"><p>33</p><p>Solid Waste<br>&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>