<div id="wrapper-banner-gs" class="container-fluid" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('<% $ctrl.bkg %>')">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <a href="/map">
              <h2>
                <% $ctrl.line1 %>
              </h2>
            </a>
            <a href="/citizen_sms">
              <h2>
                <% $ctrl.line2 %>
              </h2>
            </a>
            <a href="/project">
              <h2>
                <% $ctrl.line3 %>
              </h2>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
