
<div class="info-row">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="total">
          Showing
          <%($ctrl.currentPage-1)*10+1%>
          -
          <% $ctrl.totalItems/($ctrl.currentPage*10)>1 ? ($ctrl.currentPage-1)*10+10 : $ctrl.totalItems %>
          of
          <% $ctrl.totalItems %>
        </div>

        <ul uib-pagination class="pagination-sm"
          total-items="$ctrl.totalItems"
          ng-model="$ctrl.currentPage"
          max-size="4"
          items-per-page="$ctrl.projectsPerPage"
          previous-text="&lsaquo;"
          next-text="&rsaquo;">
        </ul>
      </div>

      <div class="col-xs-6">
        <div class="color-white">Sort By:</div>
        <div style="display: inline-block">
          <select class="dropdown-list"
            style="height: 22px"
            ng-model="$ctrl.conditions.orderBy"
            ng-change="$ctrl.searchProjects()">
            <option value="">- Sort By -</option>
            <option value="title">Alphabetical order</option>
            <option value="updated_at">Most recently updated</option>
            <option value="created_at">Time of Creation</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div id="explore-list-table-mobile">
    <div class="hot-key-button" ng-show="$ctrl.showHotKeyMoblie()">
      <button type="button" class="btn btn-circle" ng-click="$ctrl.hotKeyClickMobile()"><i class="glyphicon glyphicon-play"></i></button>
    </div>
    <table class="big-project-list">
      <thead>
        <tr>
          <td></td>
          <td></td>
          <td class="text-left"><% $ctrl.containerName %>&nbspName</td>
          <td class="text-left" ng-repeat="regionLabel in $ctrl.filters.region_labels">
            <% regionLabel | titleize %>
          </td>
          <td class="text-left" ng-repeat="filterable_field in $ctrl.filters.fields"><% filterable_field.name %></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="project in $ctrl.projects | startFrom:($ctrl.currentPage-1)*$ctrl.projectsPerPage | limitTo:$ctrl.projectsPerPage track by $index" ng-click="$ctrl.goToProject(project.id)">
          <td><% ($ctrl.currentPage-1)*10+1+$index %></td>
          <td><img ng-src="<% project.cover_image_path %>"></td>
          <td class="text-left"><% project.title %></td>
          <td class="text-left" ng-repeat="regionLabel in $ctrl.filters.region_labels">
            <% project.regions[regionLabel].name %>
          </td>
          <td class="text-left" ng-repeat="filterable_field in $ctrl.filters.fields">
            <% project.values[filterable_field.id].value %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
