.pagination-button {
    button {
      width: 40px;
      height: 40px;
      padding: 0px;
      margin: 0px;
      border-radius: 0px;
      & + button::before {
        position: absolute;
        content: "";
        border-left: 2px #e9da8b solid;
        height: 13px;
      }
      &:disabled {
        opacity: 1;
        &:hover, &:focus {
          background-color: $yellow-tan-light!important;
          box-shadow: none;
        }
        img {
          opacity: 0.5;
        }
      }
      &:not(:disabled) {
        &:hover {
          img:not(:disabled) {
            transform: scale(1.3);
          }
        }
        &:hover, &:focus {
          background-color: $yellow-tan-light!important;
          cursor: pointer;
          box-shadow: none;
        }
      }
    }
  }
